
*{
    margin: 0;
    padding: 0;
    
}
.header{
    background-color: antiquewhite;
    width: 100vw;
    height: 10vh;
}
img{
    width: 150px;
    height: 60px;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.container{
    display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}
.container ul{
    display: flex;
    list-style: none;
gap: 20px;
}
.container a{
    font-weight: 900;
}
.container .btn{
    border: none;
    color: white;
    background-color:#2587e3 ;
    padding: 6px;
    border-radius: 5px;
    width: 90px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}
.container-second{
background-color: #bdd6ed;
}
